html{
  background-color: lightseagreen;
}

#a { 
    background-color: white;
}

#b { 
    background-color: white;
}

#c { 
    background-color: white;
}

#d { 
    background-color: white;
}

